@import utils/_vars
@import utils/_mixins
@import home/_main
@import todo/_main
@import notes/_main
@import calendar/_main

*
  box-sizing: border-box
//Some general styles
.centerText
  text-align: center
.redText
  color: red
  font-weight: bold
.fillWidth
  width: 100%
.flexColumn
  display: flex
  flex-direction: column
hr
  width: 50px
  margin-top: 15px
  border: 1px solid #F05F40
h1
  margin: 0px
ul
  padding: 0
  margin: 0
  list-style-type: none
nav
  margin-bottom: 0 !important
.App
  min-height: 100vh
  display: flex
  flex-direction: column
  justify-content: space-between

//Some more specific styles
@media screen and (min-width: 768px)
  .navbar
    position: relative
    background-color: transparent
    background-image: none
    border: none
    z-index: 10
  .nav
    li
      a
        color: #ccc !important
        font-weight: bold !important
    .active
      a
        color: #F05F40 !important
        background-color: transparent !important
        background-image: none !important
        box-shadow: none !important

body
  .componentMainDiv:first-child
    background-color: #555
    background-image: url("components/Notes/header.jpg")
    padding-top: 140px
    padding-bottom: 90px
    position: relative
    top: -50px


.componentMainDiv
  width: 100%

  padding-bottom: 30px
  background-color: #F05F40
.componentWrapper
  width: 1200px
  max-width: 100%
  margin: auto

.contentMainDiv
  background-color: #fff
.textAreaForm
  margin: auto
  margin-bottom: 15px
  display: flex
  flex-direction: column
  max-width: 97%
  //Make textarea resizable, but stay within the div
  textarea
    max-width: 100%
    min-height: 100px
    min-width: 200px
    width: 600px
.staticForm
  width: 600px
  max-width: 95%
  margin: auto

.todoList
  width: 800px
  max-width: 95%
