.todo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; }

.noteList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .noteList textarea, .noteList p {
    height: 75%;
    width: 100%;
    margin: 10px; }

.singleNote {
  height: 230px;
  width: 260px;
  background-color: #F0F0F0;
  border-bottom: 4px solid #ccc;
  margin: 0 20px 40px 20px;
  display: flex;
  flex-wrap: wrap;
  text-align: left; }

.noteHeader {
  display: flex;
  align-items: center;
  background-color: #D4D4D4;
  color: #F05F40;
  padding: 6px;
  width: 100%; }
  .noteHeader input {
    text-align: center;
    color: #000; }
  .noteHeader button {
    height: 30px;
    width: 30px;
    background-color: #D4D4D4;
    border: none; }

.noteText {
  overflow: auto;
  max-width: 240px;
  overflow-wrap: break-word; }

.toggle-create-event-btn {
  position: fixed;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  z-index: 1;
  bottom: 0;
  right: 0;
  margin: 1.5em; }

.create-event {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  max-width: 640px;
  max-height: 480px;
  height: 100vh;
  z-index: 1000;
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 1em; }

.create-event-dates {
  display: flex; }
  .create-event-dates input {
    margin: 0 .2em; }

.create-event-color-select {
  align-self: stretch;
  padding: .5em; }

.close-create-event {
  top: 1em;
  font-size: 1.5em;
  right: 1em;
  position: fixed; }

.create-event > div {
  margin: 1em 0; }

.create-event button {
  margin: 0 .5em; }

#calendar-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto; }

.calendar-header, .calendar-header > div {
  display: flex;
  justify-content: space-between;
  align-items: center; }

#month-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  position: relative; }
  #month-wrapper > ul > li {
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333; }

.days-title,
.days-title li {
  display: flex; }

.days-title li {
  background-color: #000000;
  width: 14.28571%;
  height: 64px;
  justify-content: center;
  align-items: center; }
  .days-title li span {
    color: #fafafa; }

.days {
  flex-grow: 1;
  display: grid;
  grid-template-rows: repeat(6, 12.3vmin);
  grid-template-columns: repeat(7, auto); }
  .days > li {
    background-color: #d4d4d4; }
  .days p {
    padding: 6px 0 0 6px; }

.day {
  transition: background-color .5s;
  cursor: pointer; }

.day:hover, .today {
  background-color: #fafafa !important; }

.today p {
  font-weight: 700;
  color: #d85050 !important;
  text-decoration: underline; }

.placeholder {
  opacity: .3;
  pointer-events: none; }

.from, .from-to, .to {
  width: 25% !important; }

.from, .from-to {
  margin-left: 75% !important;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px; }

.from-to, .to {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px; }

.from-to {
  margin-left: 25% !important;
  width: 50% !important; }

.day-events-list {
  position: relative; }

.day-event {
  position: absolute;
  height: 6px;
  width: 100%; }

.red {
  top: 0;
  background-color: red; }

.orange {
  top: 8px;
  background-color: orange; }

.blue {
  top: 16px;
  background-color: blue; }

.brown {
  top: 24px;
  background-color: brown; }

.green {
  top: 32px;
  background-color: green; }

.purple {
  top: 40px;
  background-color: purple; }

.big-day {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  max-width: 720px;
  max-height: 480px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px;
  border-radius: 1em;
  padding: 2em;
  background-color: #fafafa; }

.big-day-header {
  display: flex; }

.big-day-event {
  display: flex;
  margin: .5em 0;
  justify-content: space-between;
  align-items: center;
  overflow: auto; }

.big-day-event span {
  width: 16px;
  height: 16px;
  border-radius: 50%; }

.big-day-event p {
  margin-bottom: 0; }

.close-big-day {
  position: fixed;
  top: .5em;
  right: .5em; }

@media (orientation: landscape) and (min-width: 768px) {
  .days-title li {
    color: #fafafa; }
    .days-title li:first-child:after {
      content: "onday"; }
    .days-title li:nth-child(2):after {
      content: "esday"; }
    .days-title li:nth-child(3):after {
      content: "ednesday"; }
    .days-title li:nth-child(4):after {
      content: "ursday"; }
    .days-title li:nth-child(5):after {
      content: "riday"; }
    .days-title li:nth-child(6):after {
      content: "turday"; }
    .days-title li:last-child:after {
      content: "nday"; } }

#calendar-wrapper {
  position: relative; }

.today-month {
  grid-area: today;
  justify-self: start; }

.prev-month {
  grid-area: prev;
  justify-self: end; }

.next-month {
  grid-area: next;
  justify-self: start; }

.calendar-header {
  display: flex; }

.weekend-title {
  background-color: #d85050 !important; }

* {
  box-sizing: border-box; }

body html {
  padding: 0px; }

body {
  background-color: #fff; }

.centerText {
  text-align: center; }

.redText {
  color: white;
  text-shadow: 1px 1.2px #000;
  font-weight: 300;
  text-decoration: underline; }

.whiteHeader {
  color: #fff;
  font-weight: 300;
  font-family: 'Open Sans';
  text-shadow: 0.5px 0.5px 0.3px #000; }

.blackHeader {
  color: #000;
  font-weight: 300;
  font-family: 'Open Sans'; }

.fillWidth {
  width: 100%; }

.flexColumn {
  display: flex;
  flex-direction: column; }

hr {
  width: 70px;
  margin-top: 15px;
  margin-bottom: 30px;
  border: 1px solid #F05F40; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

#hamburger {
  cursor: pointer;
  right: 0;
  top: 0;
  position: fixed;
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 12px; }

#hamburger span {
  width: 100%;
  height: 2px;
  transition: .3s; }

.menu {
  background-color: #000;
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: auto; }

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center; }

nav a {
  color: #ccc !important;
  font-weight: bold !important;
  font-family: 'Open Sans';
  display: block;
  text-decoration: none;
  color: #aaa;
  padding: .5em 1.5em;
  transition: .3s;
  border-radius: 1.5em;
  margin: .5em 0.2em; }

nav ul {
  display: flex; }

@media (orientation: landscape) {
  .menu {
    justify-content: center;
    align-items: center;
    margin: auto; } }

@media (orientation: landscape), (min-width: 768px) {
  #hamburger {
    display: none; }
  nav ul {
    flex-direction: row;
    justify-content: center; }
  nav {
    margin-right: auto;
    z-index: 10 !important; } }

body .componentMainDiv:first-child {
  background-image: url("components/Notes/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 120px;
  padding-bottom: 80px;
  position: relative; }
  @media (orientation: landscape), (min-width: 768px) {
    body .componentMainDiv:first-child {
      top: -50px;
      margin-bottom: -50px; } }

.miniMainDiv {
  padding-top: 0px !important;
  padding-bottom: 50px !important; }

.componentMainDiv {
  width: 100%;
  padding-bottom: 30px;
  background-color: #F05F40; }

.componentWrapper {
  width: 1200px;
  max-width: 100%;
  margin: auto; }

.contentMainDiv {
  background-color: #fff; }

.textAreaForm {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 97%;
  opacity: 0.9; }
  .textAreaForm textarea {
    max-width: 100%;
    max-height: 250px;
    min-height: 100px;
    min-width: 200px;
    width: 500px; }

.staticForm {
  width: 500px;
  max-width: 95%;
  margin: auto;
  opacity: 0.9; }

.todoList {
  width: 800px;
  max-width: 95%; }

.h1HorLine {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 60px;
  border: 1px solid #F05F40; }

.homeMainDiv {
  min-height: 60vh;
  padding-top: 200px !important; }

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  align-items: center;
  text-align: center; }
