//Some general styles
.centerText
  text-align: center
.redText
  color: red
  font-weight: bold
.fillWidth
  width: 100%
.flexColumn
  display: flex
  flex-direction: column

.noteForm
  margin: auto
  margin-bottom: 15px
  display: flex
  flex-direction: column
  max-width: 97%
  //Make textarea resizable, but within the div
  textarea
    max-width: 100%
    min-height: 100px
    min-width: 200px
.noteList
  display: inline-flex
  flex-direction: row
  flex-wrap: wrap
  textarea, p
    height: 75%
    width: 100%
    margin: 10px


//individual notes
.singleNote
  height: 230px
  width: 260px
  background-color: #cecece
  border: 1px dashed
  padding: 10px
  margin: 20px
  display: flex
  flex-wrap: wrap
  text-align: left
.noteHeader
  width: 100%
  height: 30px
  display: flex
  h1,h2,h3,h4,h5,h6
    margin: 0px
  input
    text-align: center
.noteText
  max-width: 240px
  overflow-wrap: break-word

//generic wrapper divs
.componentMainDiv
  width: 100%
  margin-bottom: 20px
  padding-top: 10px
  padding-bottom: 10px
.componentWrapper
  width: 1300px
  max-width: 100%
  margin: auto
  display: flex

//specific divs
.noteListMainDiv
  background-color: #eeeeee
