//Some general styles
.centerText
  text-align: center
.redText
  color: red
  font-weight: bold
.fillWidth
  width: 100%
.flexColumn
  display: flex
  flex-direction: column
.coverImage
  background-image: url("components/Notes/notes.jpg")


.noteForm
  margin: auto
  margin-bottom: 15px
  display: flex
  flex-direction: column
  max-width: 97%
  //Make textarea resizable, but within the div
  textarea
    max-width: 100%
    min-height: 100px
    min-width: 200px
.noteList
  display: inline-flex
  flex-direction: row
  flex-wrap: wrap
  textarea, p
    height: 75%
    width: 100%
    margin: 10px


//individual notes
.singleNote
  height: 230px
  width: 260px
  background-color: #d4d4d4
  border-bottom: 4px solid #000
  margin: 20px
  display: flex
  flex-wrap: wrap
  text-align: left
.noteHeader
  display: flex
  align-items: center
  background-color: #333333
  color: #fff
  padding: 6px
  width: 100%
  input
    text-align: center
    color: #000
  button
    height: 30px
    width: 30px
    background-color: #333
    border: none

.noteText
  max-width: 240px
  overflow-wrap: break-word

//generic wrapper divs


//specific divs
.noteListMainDiv
  background-color: #F2F2F2
